In [1]:
import pandas as pd

### Loading data

In [2]:
df = pd.read_csv("../data/raw_data.csv")

In [3]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
df.head()

,category,category_num,news_content
0,sports,3,Australian Open semifinal: Unstoppable Novak D...
1,education,1,NTA changes JEE Main 2024 website; check new p...
2,entertainment,2,Guntur Kaaram movie review: Mahesh Babu tries ...
3,technology,4,Our online tools will change the way you see s...
4,education,1,Busting myths regarding CLAT preparation CLAT ...

### Cleaing data

In [7]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [8]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\andrija.velickovic\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [9]:
total_word_count = 0
for content in df['news_content']:
    total_word_count += sum(1 for _ in content.split())
print(total_word_count)

2646524

In [10]:
stemmer = PorterStemmer()

In [11]:
def stemming(content):
    content = re.sub('[^a-zA-Z]',' ',content)
    content = content.lower().split()
    stemmed_content = [stemmer.stem(word) for word in content if not word in stopwords.words('english')]
    stemmed_content = " ".join(stemmed_content)
    return stemmed_content

In [13]:
df['news_content'] = df['news_content'].apply(stemming)

In [14]:
df.head()

,category,category_num,news_content
0,sports,3,australian open semifin unstopp novak djokov t...
1,education,1,nta chang jee main websit check new platform j...
2,entertainment,2,guntur kaaram movi review mahesh babu tri hard...
3,technology,4,onlin tool chang way see solar wind energi ind...
4,education,1,bust myth regard clat prepar clat design test ...

In [17]:
total_word_count = 0
for content in df['news_content']:
    total_word_count += sum(1 for _ in content.split())
print(total_word_count)

1580692

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      10000 non-null  object
 1   category_num  10000 non-null  int64
 2   news_content  10000 non-null  object
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [16]:
df.to_csv("../data/stemmed_data.csv")